.editor_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #282b30;
    padding: 15px;
    gap: 10px;
}

.lightTheme {
    background: rgb(153, 228, 246);
    background: linear-gradient(290deg, rgba(153, 228, 246, 1) 9%, rgba(255, 255, 255, 1) 9%, rgba(153, 228, 246, 1) 27%, rgba(255, 255, 255, 1) 27%, rgba(153, 228, 246, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(153, 228, 246, 1) 69%, rgba(255, 255, 255, 1) 69%, rgba(153, 228, 246, 1) 90%, rgba(255, 255, 255, 1) 90%);
    color: #000000;
}

.darkTheme {
    background-color: #000000;
    color: #ffffff;
}

.contrastTheme {
    background: rgb(0, 0, 0);
    background: linear-gradient(290deg, rgba(0, 0, 0, 1) 9%, rgba(255, 132, 0, 1) 9%, rgba(255, 132, 0, 1) 27%, rgba(0, 0, 0, 1) 27%, rgba(0, 0, 0, 1) 50%, rgba(255, 135, 5, 1) 50%, rgba(255, 132, 0, 1) 69%, rgba(0, 0, 0, 1) 69%, rgba(0, 0, 0, 1) 90%, rgba(255, 132, 0, 1) 90%);
    color: #ffffff;
}

.editor_header {
    display: flex;
    gap: 15px;
    padding: 15px 5px;
    background-color: #151515;
}
@media (max-width: 480px) {
    .editor_header {
        flex-wrap: wrap;
    }
  }
.editor_window {
    border: 8px solid #ddd;
    border-radius: 15px;
    width: 90%; 
    max-width: 1200px; 
    margin: 0 auto; 
  }

  .lightThemeWindow {
    border: 8px solid #b3e0fc;
 }
 .darkThemeWindow {
    border: 8px solid #5eff4d;
 }
 .contrastThemeWindow {
    border: 8px solid rgb(151, 105, 56);
 }
  .output {
    width: 90%; 
    max-width: 1200px; 
  }
  @media (max-width: 768px) {
    .editor_window {
      width: 95%;
      border-width: 6px; 
      border-radius: 10px;
    }
    .output {
        width: 95%;
      }
  }
  
  @media (max-width: 480px) {
    .editor_window {
      width: 100%;
      border-width: 4px; 
      border-radius: 8px;
    }
    .output {
        width: 100%;
    }
  }
  

