.output_container{
    border: 8px solid #ddd;
    border-radius: 15px;

}
.output_container>h3{
    padding: 5px;
    color: #fff;
    background-color: #151515;
}
@media (max-width: 480px){
    .output_container>h3{
        font-size: 12px;
    }
}
.output_body{
    width: 100%;
    background-color: #202020;
    height: 20vh;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
}